name: Deploy to Railway

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to Railway
        uses: bervProject/railway-deploy@v0.2.3
        with:
          railway_token: ${{ secrets.RAILWAY_TOKEN }}
          service: schema-translator
          detach: false

